html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Overpass", sans-serif;
  line-height: 1.5;
  background-image: linear-gradient(#ff9500, #ff5e3a);
  color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 1rem;
}

h1 {
  text-align: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: #fff;
  border: solid #fff .2rem;
  padding: 1rem;
}

.btn:hover,
.btn:focus {
  color: #ff9500;
  background-color: #fff;
}

.icon {
  position: relative;
  height: 8rem;
  width: 8rem;
}

.icon svg {
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  fill: currentColor;
}

@media only screen and (min-width: 38em) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: 0;
    padding: 6vmin;
    grid-gap: 6vmin;
  }
}
